.image {
  object-fit: cover;
  mix-blend-mode: multiply;
  width: 800px;
  height: 600px;
}

.starImage {
  width: 22px;
  height: 22px;
}
  .quantity{
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-top: -25px;
}


.averageRaiting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.starWrapper {
  display: flex;
  gap: 8px;
}
.transparentBtn {
  display: flex;
  padding: 18px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #000;
  background: #fff;
  color: #000;
}

.accordionWrapper {
  padding-bottom: 80px;
}
