.input {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 16px;
}

.redInput{
  @extend .input;
  border: 1px solid red;
}

.redText{
  display: none;
  color: red;
  font-size: 14px;
}

.redTextVisible{
  @extend .redText;
  display: block;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.label {
  font-size: 16px;
  color: rgb(69, 68, 68);
  font-weight: 500;

}


