.title {
  color: #000;
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
}
.blue {
  color: rgb(9, 66, 238);
}

.white {
  color: #fff;
}

.small {
  font-size: 15px;
}

.small-medium {
  font-size: 16px;
}
.s18 {
  font-size: 18px;
}

.medium {
  font-size: 20px;
}

.medium-big {
  font-size: 36px;
}

.big {
  font-size: 60px;
}

.bold {
  font-weight: 900;
}

.medium-bold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}
