html {
  scroll-behavior: smooth;
}

.materials {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400;
}

.line {
  width: 28px;
  height: 5px;
  background: #000;
}

.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 120px;
}

.home::after {
  content: "амфибия 2403";
  color: #ebebeb;
  font-size: 243px;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  position: absolute;
  top: -10%;
  left: 10%;
  transform: translateX(-12%);
  z-index: -1;
}

.image {
  width: 1016px;
  height: 621px;
}

.burgerMenu {
  margin-top: 30px;
  width: 270px;
  height: 436px;
}

.input {
  position: relative;
  border-radius: 6px;
  background: #ebebeb;
  max-width: 70px;
  padding: 5px;
  margin-bottom: 10px;
}

.cartLink {
  width: 100%;
}

.inputLabel {
  color: #000;
  font-size: 18px;
}
.info {
  position: relative;
  margin-bottom: 120px;
}

.info::after {
  content: "10 лет с вами";
  color: #ebebeb;
  font-size: 243px;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  position: absolute;
  top: -155%;
  left: 14.5%;
  transform: translateX(-12%);
  z-index: -1;
}

.emailBlock {
  background-image: url(../../assets/emailBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.inputEmail {
  width: 100%;
  max-width: 540px;
  padding: 20px 20px;
  font-size: 16px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.emailForm {
  display: flex;
  gap: 20px;
}

.imageBtn {
}
