.swiperContainer {
  max-width: 500px;
  display: block;
  /* margin-left: 40px; */
}

.slider-card {
  padding-right: 15px;
}

.slick-prev,
.slick-next {
  width: 12px !important;
  height: 44px !important;
  flex-shrink: 0;
}

.slick-prev {
  margin-left: -10px !important;
}
