.Description {
  color: #000;
}

.small {
  font-size: 15px;
}

.small-medium {
  font-size: 16px;
}

.medium {
  font-size: 20px;
}
.s24 {
  font-size: 24px;
}

.medium-big {
  font-size: 36px;
}

.big {
  font-size: 60px;
}
.centerSize {
  font-size: 48px;
}

.bold {
  font-weight: 900;
}

.medium-bold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}
.gray {
  color: #ababab;
}
