.flex {
  display: flex;
}
.gridTwoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.gridThreeColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}

.around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}
